.history-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .leaveType, .status {
    flex-basis: 20%; 
    text-align: center;
  }
  
  .row11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-basis: 40%; 
  }

  
  .date {
    width: 250px;
    text-align: center;
  }
  
  .cancel-button {
    width:120px;
    flex-shrink: 0; 
  }
  
  .arrow-icon {
    cursor: pointer;
    padding: 0 10px;
  }
  
  .manager-responses {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .manager-responses > h6{
    color: #007bff;
    margin-left: 10%;
  }
  
  .leaveReason{
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 160px;
  }

  .response-inside1 {
    display: flex;
    align-items: center; 
    justify-content: space-around; 
  }
  .response-inside1 > div{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cancel-reschedule-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .icons-design{
    display: flex;
    gap: 15px;
  }
  .leave-reason2{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .leave-reason-heading{
    color: green;
  }
  
.status {
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

.status.pending {
    color: orange;
}

.status.approved {
    color: green;
}

.status.rejected {
    color: red;
}

.status.cancelled {
    color: gray;
}
.btn-outline-success {
  border-color: #2cf05a; 
  color: #2cf05a;
 
}

.btn-outline-success:hover {
  background-color: #2cf05a;
  border-color: #2cf05a;
}

.leave-comments {
  display: block;
}
@media (max-width: 768px) {
  .row1 {
      flex-direction: column; 
      align-items: flex-start; 
      gap: 10px;
    }
  .cancel-button {
    width:53%;
    flex-shrink: 0; 
  }
  .arrow-icon {
    cursor: pointer;
    margin-left: 10%;
  }
  
  
}
@media (max-width: 425px) {
  .row1 {
      flex-direction: column; 
      align-items: flex-start; 
  }
  .cancel-button {
    width:53%;
    flex-shrink: 0; 
  }
  .arrow-icon {
    cursor: pointer;
    margin-left: 10%;
  }
  
  .leave-comments {
    display: none !important;  
  }
  .response-icon-hi{
    display: none;
  }
  
}
.arrow-icon2{
  cursor: pointer;
    font-size: 1.2em;
    color: #007bff;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: -10%;
}
@media (max-width: 1440px) {
  .arrow-icon2{
    margin-left: -10%;
  }
}
@media (max-width: 1024px) {
  .arrow-icon2{
    margin-top: 2%;
    margin-left: -13%;
  }
}
@media (max-width: 768px) {
  .arrow-icon2{
    margin-left: -5%;
  }
}
@media (max-width: 425px) {
  .arrow-icon2{
    margin-left: 0%;
  }
}