
  
  .loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .login-input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 0.875rem;
  }

  .guest {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .guest-login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .guest-login-btn:hover {
    background-color: #0056b3;
  }
  
  .guest-options {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .guest-option-btn {
    display: block;
    width: 100%;
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .guest-option-btn:hover {
    background-color: #696969;
  }